<h2>Acciones</h2>
<h3>Usuario: {{usuario}}</h3>
<hr>
<ul class="list-group">
    <li
        *ngIf="admin" 
        class="list-group-item"
        routerLink="home"
    >
        Cargar información
    </li>
    <li
        class="list-group-item"
        routerLink="catalogo"
    >
        Catálogo de tiendas
    </li>
    <li
        class="list-group-item"
        routerLink="productos"
    >
        Catálogo de Productos
    </li>
    <li
        class="list-group-item"
        routerLink="carrito"
    >
        Carrito de Compras
    </li>
    
    <li
        *ngIf="!admin" 
        class="list-group-item"
        routerLink="eliminarCuenta"
    >
        Eliminar Cuenta
    </li>

    <li
        *ngIf="admin" 
        class="list-group-item"
        routerLink="reportes"
    >
        Reportes
    </li>
</ul>