<h2>Acciones</h2>
<hr>
<ul class="list-group">
    <li 
        class="list-group-item"
        routerLink=""
    >
        Cargar información
    </li>
    <li
        class="list-group-item"
        routerLink="catalogo"
    >
        Catálogo de tiendas
    </li>
    <li
        class="list-group-item"
        routerLink="productos"
    >
        Catálogo de Productos
    </li>
    <li
        class="list-group-item"
        routerLink="carrito"
    >
        Carrito de Compras
    </li>
</ul>