<table *ngIf="productos" class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col"> </th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        <tr class="" *ngFor= "let producto of productos">
            <td >{{producto.Nombre}} : {{producto.Descripcion}} </td>
            <td>Q. {{producto.Precio}}</td>
            <td> {{producto.Cantidad}}</td>
            <td>
                <button type="button" class="mas" (click)="sumar(producto.Codigo)"> + </button>
            </td>
            <td>
                <button type="button" class="menos" (click)="restar(producto.Codigo)"> - </button>
            </td>
            <td>
                <button type="button" class="eliminar" (click)="eliminar(producto.Codigo)">Eliminar</button>   
            </td>
        </tr>
    </tbody>
</table>
